
&i2c0 {
    status = "okay";
    i2c0_pcal6416a: pcal6416a@20 {
	    compatible = "nxp,pcal6416a";
        status = "okay";
	    reg = <0x20>;
		#gpio-cells = <2>;
	    gpio-controller;
	    ngpios = <16>;
    };
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_2";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};


&spi3 {
    status = "okay";
    pinctrl-names = "default";
    ac057tc1: ac057tc1@0 {
        status = "okay";
        compatible = "eink,ac057tc1";
        reg = <0>;
        spi-max-frequency = <200000>;
        height = <600>;
        width = <448>;

        reset-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        dc-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
        busy-gpios = <&gpio0 2 GPIO_ACTIVE_LOW>;
    };
};

/ {
    chosen {
        zephyr,display = &ac057tc1;
    };

    zephyr,user {
        sdcard-pmos-gpios = <&i2c0_pcal6416a 10 GPIO_ACTIVE_HIGH>;
        battery-mos-gpios = <&i2c0_pcal6416a 9 GPIO_ACTIVE_HIGH>;
        io-channels = <&adc0 0>;
    };
};